{{- if .Values.mongodb.enabled }}
apiVersion: v1 
kind: Service
metadata:
  name: mongodb
  namespace: {{ .Values.global.namespace }}
  labels:
    app: mongodb
spec:
  type: ClusterIP
  clusterIP: None
  selector:
    app: mongodb
  ports:
    - port: {{ .Values.mongodb.port }}
      targetPort: {{ .Values.mongodb.port }}
      protocol: TCP
      name: mongodb
{{- end }}