environment: dev

replicaCount: 1

image:
  tag: latest
  pullPolicy: IfNotPresent

resources:
  fetcher:
    requests:
      memory: "256Mi"
      cpu: "100m"
    limits:
      memory: "512Mi"
      cpu: "250m"
  
  trainer:
    requests:
      memory: "512Mi"
      cpu: "250m"
    limits:
      memory: "1Gi"
      cpu: "500m"
  
  api:
    requests:
      memory: "128Mi"
      cpu: "50m"
    limits:
      memory: "256Mi"
      cpu: "100m"

mongodb:
  replicas: 1
  persistence:
    enabled: true
    size: 10Gi

autoscaling:
  enabled: false